@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(117, 129, 163);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Header*/

header{
    height: 75vh;
    display: flex;
    font-size: 2.4rem;
    flex-direction: column;
    justify-content:center;
    padding: 4rem 4rem 0 18rem;
}

.top{
    font-family: 'Yusei Magic', sans-serif;
    color: #111;
    line-height: 3.8rem;
}

.top h3, h1, .ffd{
    margin:0;
}

h1 {
    letter-spacing: 0.05em;
}

.ffd{
    letter-spacing: 0.2em;
    font-size: 1.4rem;
    font-weight: bolder;
}

.top a{
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.6rem;
}

button{
    border-radius: 6px;
    border-style: none;
    background-color: rgba(0, 161, 113, 0.747);
}

button:hover{
    background-color: rgba(33, 102, 192, 0.87);
    transition-delay: 0.1ms;
}

button a:hover{
    color: #eee;
    transition-delay: 0.1ms;
}

/*nav*/

nav{
    font-family: 'Yusei Magic', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    position: relative;
}

nav .navbar{
    margin: 1rem;
    padding: 8px;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.2rem;
}

nav .navbar:hover{
    color: rgba(0, 161, 113, 0.747);
}

/*main*/

main{
    margin: 30px 30px;
    padding:15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*about me section*/

main section{
    margin: 15px 15px;
    padding: 20px 20px;
}

main .about-me{
    margin: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
}

.about-me p{
    font-size: 1.5rem;
    padding: 0 4rem;
}

.jag{
    border-radius: 50%;
    padding: 0 3.5rem 0 0;
}

/*cards*/

#projects{
    margin: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 15vh);
    gap: 1rem 3rem;
}

h2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card1{
    background-color: rgb(196, 196, 196);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    border-radius: 10px;
}

section .card2{
    background-color: rgb(196, 196, 196);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    border-radius: 10px;
}

section .card3{
    background-color: rgb(196, 196, 196);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    border-radius: 10px;
}

/*school*/

#school{
    margin: 5rem;
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 15vh);
    gap: 1rem;
}

#school a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#school article.school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
}

#school article.programming-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

/*footer*/

footer{
    background-color: rgb(60, 69, 109);
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 4rem;
}

footer p, a {
    padding: 0.7rem;
}

footer .copyright{
    color: #eee;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .logos{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    filter: invert(75%);
}
